<!DOCTYPE html>
<html>
  <head>
    <title>ONEUP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/369622d0f9.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav-list">
      <% if customer_signed_in? %>
        <% @customer = current_customer %>
      <% end %>

      <% if admin_signed_in? %>
        <div class="admin-header">
          <li class="nav-list-item">
            <%= link_to "投稿一覧", admin_posts_path %>
          </li>
          <li class="nav-list-item">
            <%= link_to "会員一覧", admin_customers_path %>
          </li>
          <li class="nav-list-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
          <li class="nav-list-item">
            <%= link_to "ジャンル", admin_genres_path %>
          </li>
        </div>
      <% elsif customer_signed_in? %>
        <div class="header-bottom">
          <li class="nav-list-item">
           <%= link_to "マイページ", customer_path(@customer) %>
          </li>
          <li class="nav-list-item">
           <%= link_to "投稿一覧", posts_path %>
          </li>
          <li class="nav-list-item">
            <%= link_to "会員一覧", customers_path %>
          </li>
          <li class="nav-list-item">
           <%= link_to "ジャンル一覧", genre_genre_search_path %>
          </li>
          <li class="nav-list-item">
           <%= link_to "新規投稿", new_post_path %>
          </li>
          <li class="nav-list-item">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </li>
        </div>
      <%= render 'layouts/header' %>
      <% else %>
      <div class="header-bottom">
            <ul class="nav nav-pills nav-justified">
      <li class="nav-list-item">
        <%= link_to "About", about_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
      </ul>
      </div>
      <% end %>
      </ul>
      </nav>
      </div>
    </header>
    <div class="container">
    <%= render 'public/searchs/search' %>
    <%= yield %>
    </div>
    <footer></footer>
  </body>
</html>
